$black-1: #33405c;
$black-2: #1d2435;
$black-3: #000;
$white-1: #fff;
$white-2: #f2f4f9;
$white-3: #e3e7f2;
$grey-1: #d2d4da;
$grey-2: #b0b3bf;
$grey-3: #8f94a3;
$green-1: #5cffdc;
$green-2: #00fdc7;
$green-3: #00e0b0;
$blue-1: #578fc7;
$blue-2: #3870a8;
$blue-3: #29527a;
$red-1: #ea9386;
$red-2: #e06552;
$red-3: #d03c25;
$orange-1: #f7c3a1;
$orange-2: #f29559;
$orange-3: #ee7c2f;
$yellow-1: #f8f4a0;
$yellow-2: #f4ed67;
$yellow-3: #f0e72d;
$violet-1: #948db9;
$violet-2: #7067a2;
$violet-3: #554e7e;
$turquoise-1: #47ffff;
$turquoise-2: #0ff;
$turquoise-3: #0cc;
$brown-1: #974c35;
$brown-2: #6a3525;
$brown-3: #3c1e15;
