<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF8">
        <meta name="discription" content="бла бла">
        <title>ADG-Project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header>
            <div class="logo">ADG-Project</div>
            <address class="address">
                <p class="address__info">Автор: Авдеев Дмитрий Геннадьевич</p>
                <p class="address__info">Телефон: +79270111808</p>
                <p class="address__info">E-mail: adg.web@yandex.ru</p>
            </address>
        </header>
        <nav></nav>
        <main class="main">
            <section class="learning-vue__section learning-vue__section_type_vue">
                <div id="learning-vue-app"></div>
            </section>
            <section class="learning-vue__section">
                <a class="learning-vue__link" href="/learning-vue/learning-vue-part2/">На 2ую часть</a>
                <a class="learning-vue__link" href="/learning-vue/learning-vue-part3/">На 3ую часть</a>
                <a class="learning-vue__link" href="../">На главную</a>
            </section>

        </main>
        <footer></footer>
    </body>
</html>