<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF8">
        <meta name="discription" content="бла бла">
        <title>ADG-Project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header>
            <div class="logo">ADG-Project</div>
            <address class="address">
                <p class="address__info">Автор: Авдеев Дмитрий Геннадьевич</p>
                <p class="address__info">Телефон: +79270111808</p>
                <p class="address__info">E-mail: adg.web@yandex.ru</p>
            </address>
        </header>
        <nav></nav>
        <main class="main">
            <section class="main__section">
                <h1>ADG-Project</h1>
                <p>
                    Этот проект создовался как площадка для развития навыков web-разработки, наработки различных практик,
                    а также для их демонстрации. Идея заключалась в том, чтобы при написании проекта взаимодействовать с различным стеком web-технологий
                    и внедрять разные "фишки", так сказать "Набить руку".
                </p>
                <h2>Больше конкретики</h2>
                <p>
                    Поднятие проекта, его структуризация. Установка и настройка Webpack, Eslint, Stylelint, Babel, SCSS, Vue.js, JEST, работа с Node.js.
                    Стек по проекту: HTML (Семантическая верстка, адаптивность, кросбраузерность, мобаил фест и доступность), CSS (Флекс-бокс, анимация),
                    SCSS (Переменные, миксины, вложенность, импорты, и т.д.),
                    SVG (Svg-анимацию, оптимизация и спрайты. Все svg-иллюстации созданы в программе Adobe Illustrator или написаны вручную.),
                    Java Script (ES6 и различные "фишки" нативного JS), Vue.js, тестирование (JEST и Vue Test Utils).
                </p>
                <button class="main__button-view">Посмотреть работы</button>
            </section>
            <section class="main__section">
                <h2 class="main__title-welcome">И так, добро пожаловать!</h2>
                <div class="main__welcome-svg">
                    <svg width="200" height="340" viewBox="-15 -40 340 520" xmlns="http://www.w3.org/2000/svg">
                        <g class="main__svg-static">
                            <circle r="50" cx="150" cy="100" stroke="#000000" stroke-width="5" fill="none" />
                            <line x1="150" y1="150" x2="150" y2="180" stroke="#000000" stroke-width="5" />
                            <ellipse rx="50" ry="100" cx="150" cy="280" stroke="#000000" stroke-width="5" fill="none" />
                            <polyline points="150,380 180,500 220,500" fill="none" stroke="#000000" stroke-width="5" />
                            <polyline points="150,380 120,500 80,500" fill="none" stroke="#000000" stroke-width="5" />
                            <polyline points="120,200 60,270 50,350" fill="none" stroke="#000000" stroke-width="5" stroke-linejoin="round"/>
                            <rect width="20" height="5" x="40" y="350"/>
                            <line x1="50" y1="355" x2="50" y2="500" stroke="#000000" stroke-width="5" />
                            <circle r="8" cx="130" cy="90" stroke="#000000" stroke-width="5" fill="none" />
                            <circle r="8" cx="170" cy="90" stroke="#000000" stroke-width="5" fill="none" />
                            <line x1="140" y1="120" x2="160" y2="120" stroke="#000000" stroke-width="5"/>
                            <circle r="15" cx="130" cy="90" stroke="#000000" stroke-width="3" fill="none" />
                            <polyline points="130,105 125,130 135,155 125,180 130,190" stroke="#000000" stroke-width="2" fill="none" />
                        </g>
                        <g class="main__svg-hat">
                            <rect width="80" height="50" x="110" y="10" />
                            <ellipse rx="60" ry="10" cx="150" cy="60" />
                            <line class="main__svg-fake" x1="206" y1="60" x2="259" y2="145" stroke="#000000" stroke-width="5" stroke-linecap="round" />
                        </g>
                        <g cx="50" class="main__svg-hand">
                            <line x1="180" y1="200" x2="260" y2="250" stroke="#000000" stroke-width="5" stroke-linecap="round" />
                            <line class="main__svg-real" x1="260" y1="250" x2="195" y2="320" stroke="#000000" stroke-width="5" stroke-linecap="round" />
                        </g>
                    </svg>
                </div>
            </section>
            <section class="main__section main__section_type_information-slider">
                <h2>Все работы</h2>
                <div class="information-slider information-slider_type_with-curtains" id="information-slider">
                    <div class="information-slider__wrapper">
                        <div class="information-slider__slide information-slider__slide_type_active">
                            <h2 class="information-slider__title">Крестики-нолики</h2>
                            <p class="information-slider__text">
                                Два уровня сложности, можно играть вдвоем, выбор темы оформления. Особый режим blindly, где сделанные ходы нужно запоминать.
                            </p>
                            <h3>Стек</h3>
                            <p>
                                Логика написана на нативном JS, далеко не лучшее использование JS, но работает, не трогай) Svg написаны без использования графических редакторов, ручками.
                                По хорошему нужно будет почистить код и может переписать на Vue.
                            </p>
                            <a class="information-slider__link information-slider__link_type_active" href="./tic-tac-toe/">Перейти</a>
                        </div>
                        <div class="information-slider__slide">
                            <h2 class="information-slider__title">Observers</h2>
                            <p class="information-slider__text">
                                Площадка для наработки практических навыков в MutationObserver и Intersection Observer.
                                Также является памяткой по функционалу наблюдателей.
                            </p>
                            <a class="information-slider__link" href="./observers/">Перейти</a>
                        </div>
                        <div class="information-slider__slide">
                            <h2 class="information-slider__title">SVG</h2>
                            <p class="information-slider__text">
                                Площадка для отробатывания навыков с svg анимацией (в разработке)
                            </p>
                            <a class="information-slider__link" href="./svg/">Перейти</a>
                        </div>
                        <div class="information-slider__slide">
                            <h2 class="information-slider__title">Vue.js</h2>
                            <p class="information-slider__text">
                                Площадка для отробатывания навыков по Vue.js
                            </p>
                            <a class="information-slider__link" href="./learning-vue/">Перейти</a>
                        </div>
                    </div>
                    <div class="information-slider__button-wrapper">
                        <button class="information-slider__button information-slider__button_type_previous">Назад</button>
                        <button class="information-slider__button information-slider__button_type_next">Вперед</button>
                    </div>
                </div>
            </section>
        </main>
        <footer></footer>
    </body>
</html>