<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF8">
        <meta name="discription" content="бла бла">
        <title>ADG-Project</title>

    </head>
    <body>
        <header>
            <div class="logo">ADG-Project</div>
            <address class="address">
                <p class="address__info">Автор: Авдеев Дмитрий Геннадьевич</p>
                <p class="address__info">Телефон: +79270111808</p>
                <p class="address__info">E-mail: adg.web@yandex.ru</p>
            </address>
        </header>
        <nav></nav>
        <main class="main">
            <button class="button-test">Кнопка</button>
            <div class="img"></div>
            <section class="section-carousel">
                <div class="information-carousel">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <button class="information-carousel__button information-carousel__button_type_previous">Назад</button>
                    <button class="information-carousel__button information-carousel__button_type_next">Вперед</button>
                </div>
            </section>
            <section></section>
        </main>
        <footer></footer>
    </body>
</html>