@import '../rules/rules';

header {
    display: flex;
    justify-content: space-between;
    margin: 30px 18px;

    @include desktop-all {
        margin: 30px 60px;
    }
}

.address {
    padding: 12px;
    border: 1px solid;
    border-radius: 12px;

    &__info {
        margin: 0;
    }
}

.logo {
    margin: auto 0;
}

nav {
    height: 48px;
    background-color: $blue-2;
}

main {
    width: auto;

    @include desktop-all {
        max-width: 996px;
        margin: 0 auto;
    }
}

footer {
    height: 300px;
    margin-top: 120px;
    background-color: $blue-2;
}
