@import '../rules/rules';
@import './general';

.button-test {
    display: block;
    width: 84px;
    height: 36px;
    margin: 0 auto 48px;
    border-radius: 12px;
    color: $white-1;
    background-color: $grey-2;
    cursor: pointer;

    &:active {
        background-color: $grey-1;
    }
}

.img {
    width: auto;
    height: 403px;
    margin: 0 auto;
    background-image: url('../assets/images/img/d.jpg');
    background-size: cover;
}
