<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF8">
        <meta name="discription" content="бла бла">
        <title>ADG-Project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header>
            <div class="logo">ADG-Project</div>
            <address class="address">
                <p class="address__info">Автор: Авдеев Дмитрий Геннадьевич</p>
                <p class="address__info">Телефон: +79270111808</p>
                <p class="address__info">E-mail: adg.web@yandex.ru</p>
            </address>
        </header>
        <nav></nav>
        <main class="main">
            <section >
                <h1>Авдеев Дмитрий Геннадьевич</h1>
                <button class='button'>aasasasas</button>
            </section>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>

            <section>
                <a class="link" href="../">На главную</a>
            </section>
        </main>
        <footer></footer>
    </body>
</html>